<html lang="en">
<head>
  	<title>{{site_name|safe}}</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	<meta name="description" content="{{site_name|safe}}" />
  	<meta name="keywords" content="{{site_name|safe}}" />
  	<meta name="author" content="Mike Fey" />
  	<link rel="stylesheet" href="/static/css/admin/admin-style.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
  	<div id="wrapper">
		<div id="main">
			<div class="admin_header">
	      		<h3><a href="/admin/main">{{site_name|safe}}</a></h3>
	    	</div>
	    	<div id="admin_content">
		      	<div class="messages">
		        	{% with messages = get_flashed_messages(with_categories=true) %}
		          		{% if messages %}
		            		{% for category, message in messages %}
		              			<div class="{{ category }}">{{ message }}</div>
		            		{% endfor %}
		          		{% endif %}
		       		{% endwith %}
		      	</div>
		      	<div class="admin_section_header">
		        	<h1>Login</h1>
		      	</div>
		      	<div class="login_form_wrapper">
		        	<form name="input" action="/admin/user/check" method="post">
		          		<div class="login_title">Username:</div>
		          		<input class="login_input" name="username" />
		          		<div class="login_title">Password:</div>
		          		<input class="login_input" type="password" name="password" />
		          		<input class="ui_button ui_button_submit" type="submit" value="Submit" />
		        	</form> 
		      	</div>
		    </div>
	  	</div>
  	</div>
	<div id="admin_footer">
	    <div id="admin_footer_content_wrapper">
	      	<div id="admin_footer_content">
		        <div id="powered_by">Powered By
					{% autoescape false %}
						{{powered_by_link}}
					{% endautoescape %}
				</div>
	      	</div>
	    </div>
	</div>
</body>
<script data-main="/static/js/admin/app.js" src="/static/js/admin/libs/require.js"></script>
</html>